css:
  /* Client-specific Styles */
  #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
  body{width:100% !important;} /* Force Hotmail to display emails at full width */
  body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */
  /* Reset Styles */
  body{margin:0; padding:0;}
  img{border:none; font-size:14px; font-weight:bold; outline:none; text-decoration:none; text-transform:capitalize;}
  #backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}
  /* Template Styles */
  /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COMMON PAGE ELEMENTS /\/\/\/\/\/\/\/\/\/\ */
  body, #backgroundTable{
    font-family: Helvetica, Arial, Sans-Serif;
  }
  h1, .h1{
    color:#202020;
    display:block;
    font-family:Helvetica, Arial, Sans-Serif;
    font-size:24px;
    font-weight:bold;
    line-height:100%;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:left;
  }
  h2, .h2{
    color:#202020;
    display:block;
    font-family:Helvetica;
    font-size:18px;
    font-weight:bold;
    line-height:100%;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:left;
  }

  h3, .h3{
    color:#333333;
    display:block;
    font-family:Helvetica;
    font-size:20px;
    font-weight:bold;
    line-height:100%;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:left;
  }

  h4, .h4{
    color:#777777;
    display:block;
    font-family:Helvetica;
    font-size:16px;
    font-weight:bold;
    line-height:100%;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:left;
  }

  h5, .h5{
    color:#777777;margin: 0;font-size: 14px;
  }
  .grey{color:#666;}
  .px14{font-size:14px; text-decoration:none;}

  /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: HEADER /\/\/\/\/\/\/\/\/\/\ */

  .headerContent{}

  .headerContent a:link, .headerContent a:visited{
    color:#336699;
    font-weight:normal;
    text-decoration:underline;
  }

  #headerImage{
    height:auto;
    max-width:600px !important;
  }

  /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: MAIN BODY /\/\/\/\/\/\/\/\/\/\ */

  .bodyContent div a:link, .bodyContent div a:visited{
    color:#FF6600 !important;
    font-weight:normal;
    text-decoration:none;
  }

  .bodyContent img{
    display:inline;
  }

  /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: FOOTER /\/\/\/\/\/\/\/\/\/\ */

  #templateFooter{
    background-color:#F6F6F6;border-top:0;
  }

  .footerContent{
    width: 600px
  }
  .footerContent div{
    color:#707070;
    font-family:Helvetica;
    font-size:12px;
    line-height:125%;
    text-align:left;
  }

  .footerContent div a:link, .footerContent div a:visited{
    color:#336699;
    font-weight:normal;
    text-decoration:underline;
  }

  .footerContent img{
    display:inline;
  }

  .footerContent p{
    color: #888888;font-size: 12px;margin: 5px 0 20px;
  }

  #social{
     background-color:#FAFAFA;
     border:0;
  }

  #social div{
     text-align:center;
  }

  #utility{
     background-color:#FFFFFF;
     border:0;
  }

  #utility div{
     text-align:center;
  }

  #monkeyRewards img{
    max-width:190px;
  }

  .stream{
    background-color: none
  }
  .stream ul{
    padding-left: 0
  }
  .stream .user-info p{
    margin-top: 0;
    margin-bottom: 0;
  }
  .stream .user-info a{
    text-decoration: none;
  }

