css:
  /* STREAM */

  h1.empty {
    font-size: 1.563em;
    color: #333333;
    font-weight: bold;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    display: block;
    margin-top: 100px; }


  hr.shadow {
    background: transparent url(../images/shadow.png?1363184772) repeat-x left top;
    border-width: 0;
    color: transparent;
    height: 4px;
    margin: 0; }

  hr.shadow {
    background: transparent url(../images/shadow.png?1363184772) repeat-x left top;
    border-width: 0;
    color: transparent;
    height: 4px;
    margin: 0; }

  ul.stream {
    overflow: hidden;
    padding: 12px 0 0 0;
    text-align: center; }
    ul.stream > li {
      display: inline-table;
      text-align: left;
      width: 300px;
      height: 370px;
      border: 1px solid #ddd;
      background: white;
      margin: 8px;
      position: relative; }
      ul.stream > li > a {
        width: 300px;
        height: 300px;
        display: block; }
        ul.stream > li > a:hover {
          text-decoration: none; }
      ul.stream > li .header a {
        cursor: pointer;
        font-size: 12px;
        color: #888888; }
      ul.stream > li .header .title, ul.stream > li .header .actions {
        margin-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dddddd; }
        ul.stream > li .header .title a, ul.stream > li .header .actions a {
          margin-left: 10px; }
        ul.stream > li .header .title strong a, ul.stream > li .header .actions strong a {
          margin-left: 0px;
          color: black;
          font-size: 16px; }
      ul.stream > li .header .actions {
        margin-top: 9px;
        padding-left: 9px;
        padding-bottom: 9px;
        display: none; }
        ul.stream > li .header .actions input {
          font-weight: bold;
          font-size: 16px;
          width: 47%;
          border: 1px solid #dddddd;
          padding: 0;
          margin: 0; }
      ul.stream > li .header.editing .title {
        display: none; }
      ul.stream > li .header.editing .actions {
        display: block; }
      ul.stream > li .user-info {
        width: 290px;
        border-top: 1px solid #dddddd;
        clear: both;
        color: #999999;
        font-size: 0.84em;
        height: 3.8em;
        margin: 0 5px;
        overflow: hidden;
        padding: 10px 0 0; }
        ul.stream > li .user-info img {
          float: left;
          margin: 0 10px 10px 0; }
      ul.stream > li .user-name {
        color: #777777;
        font-weight: bold; }
      ul.stream > li .description {
        color: #333333;
        font-weight: bold;
        word-break: break-all;
        word-break: break-word;
        -webkit-hypens: auto;
        -moz-hypens: auto;
        hypens: auto;
        -ms-word-break: break-all; }
      ul.stream > li.user .user-info {
        border-bottom: 1px solid #dddddd;
        border-top: 0;
        height: 100px; }
        ul.stream > li.user .user-info img {
          max-width: 75px;
          max-height: 75px; }
      ul.stream > li.user .info {
        max-height: 33px;
        overflow: hidden; }
      ul.stream > li.user .description {
        font-size: 14px;
        height: 37px;
        overflow: hidden;
        padding: 0 7px; }
      ul.stream > li.user .user-name {
        color: #333333;
        font-size: 18px; }
      ul.stream > li.user .follow, ul.stream > li.user .unfollow {
        clear: left;
        float: left;
        width: 75px;
        text-align: center;
        color: white;
        text-decoration: none; }
      ul.stream > li.user .unfollow.button {
        color: #666666; }
      ul.stream > li.user .followers {
        float: right;
        color: #666666;
        font-weight: bold; }
      ul.stream > li.question .text {
        margin: 100px 8px 0 15px; }
        ul.stream > li.question .text h1 {
          display: block;
          font-size: 20px;
          color: #396cac; }
        ul.stream > li.question .text p {
          display: block;
          font-size: 16px;
          color: #121212;
          line-height: 135%;
          -webkit-font-smoothing: antialiased; }
      ul.stream > li.question ul {
        height: 300px; }
      ul.stream > li.question li {
        display: block;
        float: left;
        width: 92px;
        height: 92px;
        margin: 4px;
        overflow: hidden;
        position: relative; }
        ul.stream > li.question li .img {
          position: absolute;
          width: 100px;
          height: 100px;
          overflow: hidden;
          line-height: 100px;
          text-align: center; }
          ul.stream > li.question li .img img {
            max-width: 92px;
            max-height: 92px;
            vertical-align: middle;
            border: none; }
      ul.stream > li.product .imgContainer {
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative; }
        ul.stream > li.product .imgContainer .img {
          position: absolute;
          width: 300px;
          height: 300px;
          overflow: hidden;
          line-height: 300px;
          text-align: center; }
          ul.stream > li.product .imgContainer .img img {
            max-width: 500px;
            max-height: 500px;
            min-width: 200px;
            min-height: 200px;
            vertical-align: middle;
            border: none; }
      ul.stream > li.product .text {
        display: block;
        width: 300px;
        height: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        text-align: center; }
        ul.stream > li.product .text p {
          font-weight: bold;
          font-size: 15px;
          color: #396cac;
          line-height: 30px; }
      ul.stream > li.nilclass .no-event {
        height: 337px;
        font-size: 22px;
        font-weight: lighter;
        color: #cccccc;
        text-align: center;
        padding: 100px 30px;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      ul.stream > li.nilclass.list .no-event {
        height: 362px;
        padding: 132px 30px; }

  ul.stream .product.item {
    height: 300px
  }

  @media screen and (max-width: 600px) {
    .list_title {
      font-size: 12px !important; }

    hr.shadow {
      display: none; }

